body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  display: flex;
  background-color: #1f2937;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style-type: none;
  gap: 10px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-family: "Roboto";
  font-size: 18px;
}

.logo {
  color: #f9faf8;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
}

.nav-links {
  display: flex;
}

.body-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.introduction-title {
  font-weight: 900;
  font-size: 48px;
  width: 400px;
  color: #f9faf8;
  font-family: "Roboto";
}

button {
  background-color: #3882f6;
  border-radius: 10px;
  border: none;
  color: #f9faf8;
  font-size: 18px;
  width: 120px;
  height: 35px;
}

.introduction-text {
  width: 400px;
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
}

.first-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
  padding: 100px;
}

.main-image {
  height: 200px;
  width: 400px;
  background-color: grey;
}

.second-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  font-family: "Roboto";
}

.images-container {
  display: flex;
  justify-content: center;
  gap: 55px;
}

.image-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.sub-image {
  border: solid #3882f6;
  border-radius: 10px;
  border-width: 5px;
  height: 140px;
  width: 140px;
}

.text {
  font-size: 18px;
  color: grey;
  width: 150px;
  text-align: center;
}
